.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}

.logo a {
    text-decoration: none;
    color: var(--primary);
}

/* nav a {
    margin-left: 18px;
    text-decoration: none;
    color: #374151;
    font-weight: 500;
} */

/* nav a:hover {
    color: var(--primary);
} */

.site-header {
    background: white;
    width: 100%;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* color: white; */
}

.logo {
    height: 45px;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: #245a72;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;

}

/* MOBILE */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar {
        align-items: start;
        display: none;
        flex-direction: column;
        background: white;
        position: fixed;

        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .navbar.active {
        display: flex;
    }
}

.menu-search {
    margin-left: 20px;
}

.menu-search input {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    width: 180px;
}

/* Mobile */
@media (max-width: 768px) {
    .menu-search {
        width: 100%;
        margin: 10px 0;
    }

    .menu-search input {
        width: 100%;
    }
}